<div class="ui inverted vertical footer segment" style="padding: 2em 0; background-color: #1b1c1d;">
  <div class="ui center aligned container">
    <div class="ui three column stackable grid divided inverted">
      <!-- Follow Us Column -->
      <div class="column">
        <h4 class="ui inverted header">Follow Us</h4>
        <div class="ui list link inverted">
          <a target="_blank" href="https://twitter.com/5gindiaforum" class="item" style="color: #1DA1F2;">
            <i class="twitter icon"></i> Twitter
          </a>
          <a target="_blank" href="https://www.linkedin.com/company/5gif" class="item" style="color: #0A66C2;">
            <i class="linkedin icon"></i> LinkedIn
          </a>
          <a target="_blank" href="https://github.com/5gif" class="item" style="color: #ffffff;">
            <i class="github icon"></i> GitHub
          </a>
        </div>
      </div>

      <!-- Contact Column -->
      <div class="column">
        <h4 class="ui inverted header">Contact</h4>
        <p style="color: #ccc; font-size: 14px; line-height: 1.5;">
          Sector 2, 14, Bhai Vir Singh Marg, Sector 4,<br />
          Gole Market, New Delhi, Delhi 110001
        </p>
      </div>

      <!-- Empty Column (Optional Future Content) -->
      <div class="column">
        <h4 class="ui inverted header">About</h4>
        <p style="color: #aaa;">More details coming soon...</p>
      </div>
    </div>

    <div class="ui inverted section divider"></div>
    <p style="color: #888; margin-top: 1em;">
      5G India Forum : &copy; 2025 | rev :
      <a href="https://github.com/5gif/5gif.github.io/commit/{{site.github.build_revision}}" style="color: #ddd;">
        {{site.github.build_revision | truncate: 10}}
      </a>
    </p>
  </div>
</div>
