<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <script src="https://www.google.com/recaptcha/api.js?render=6Ld0ENAlAAAAAM8nZ4oz4EO4kwevOv2c_it2EAdU"></script>
  <script type="module" src="/js/3GPP-2023.js"></script>

  <script src="
https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js
"></script>

  <body id="page-top">
    {% include header.html %}

    <div class="pusher">
      <div class="ui vertical aligned">
        {% include menus.html %}
        <div class="ui container">
          <div class="mt-30 mb-20">
            <button id="fetch-btn" class="ui primary button">
              Submissions
            </button>
            <button id="fetch-incomplete-btn" class="ui negative button">
              Incomplete
            </button>
            <button id="fetch-approved-btn" class="ui positive button">
              Approved
            </button>
            <button id="fetch-approved-list-btn" class="ui purple button">
              Approved List
            </button>
          </div>
          <div class="ui negative message display-none" id="fetch-error">
            <i class="close icon"></i>
            <div class="header" id="fetch-error-msg"></div>
          </div>
          <div class="ui segment" id="recordcontainer">
            <div class="ui label top attached" id="ribbon">click above</div>
            <div class="ui cards" id="record-container"></div>
          </div>
          <br />
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
  {% include script.html %}
  <script type="module">
    import { getApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
    import { ref as storageref, getStorage, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-storage.js";

    import {
      getDatabase,
      ref,
      push,
      set,
      serverTimestamp,
      get,
      remove,
    } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-database.js";
    const LIMIT = 10;
    async function showCards(records, recordtype) {
      const container = document.getElementById("record-container");
      container.innerHTML = "";
      let cardtype =
        recordtype == undefined
          ? ""
          : recordtype == "approved"
          ? "green"
          : "red";
          
      const storage = getStorage(getApp(),"gs://3gpptsg101")

      for (let doc in records) {
        // console.log("doccc", val[doc]);
        const obj = records[doc];

        const div = document.createElement("div");
        div.className = `ui raised card ${cardtype}`;
        div.id = doc;
        let shippingTag = obj.isPhysicalCopyRequired
          ? `<div class="ui label red ribbon"> <i class="icon shipping fast"></i>Shipping</div>`
          : "";
        let address = obj.isPhysicalCopyRequired
          ? `<div class="item">
                            <b>Address: </b>${obj.notes}
                          </div>`
          : "";

        // Create a new JavaScript Date object based on the timestamp
        // multiplied by 1000 so that the argument is in milliseconds, not seconds.
        var date = moment.unix(obj.createdAt / 1000); ///.fromNow();
       // var attachmentlink = `https://storage.cloud.google.com/3gpptsg101/invites//${doc}.pdf`; //getDownloadURL(pdfref)
       var attachmentlink = await getDownloadURL(storageref(storage, `visa${doc}.pdf`)).catch(e => {
        console.log(e)
      })
      attachmentlink = attachmentlink || ""
      console.log("Attachment link for ", doc, attachmentlink)

       var actiondate = moment.unix(obj.actionDate / 1000); ///.fromNow();
        let buttons = ` <h6 class="ui header ${cardtype}">Action Taken :${actiondate.format(
          "lll"
        )}</h6>`;
        if (recordtype == "approved" && attachmentlink != "" ) {
          buttons =
            buttons +
            `<a target=_blank href=${attachmentlink}> <i class="ui icon download pdf"></i> </a>`;
        }
        if (recordtype == undefined) {
          buttons = `
        <button id="spam" data-id="${doc}" class="ui tiny red button">Spam</button>
                        <button id="incomplete" data-id="${doc}" class="ui tiny yellow button">Incomplete</button>
                        <button id="approve" data-id="${doc}" class="ui tiny green button">Approve</button>`;
        }

        div.innerHTML = `
                    <div class="content">
                      ${shippingTag}
                      <div class="header">${
                        obj.title + " " + obj.firstName + " " + obj.lastName
                      }</div>
                      <div class="meta"><i class="building icon"></i> ${
                        obj.representingName ? obj.representingName : "UNKNOWN"
                      }
                      
                      </div>
                      <div class="meta"><i class="phone icon"></i> ${
                        obj.contactNumber ? obj.contactNumber : "UNKNOWN"
                      }</div>
                      <div class="description">
                        <div class="ui list">
                          <div class="item">
                            <b>Email</b>: ${obj.email}
                          </div>
                          <div class="item">
                            <b>Meetings: </b> ${obj.meetings.join(", ")}
                          </div>
                          <div class="item">
                            <b>Passport: </b>${obj.passportNumber}, ${
          obj.passportIssuePlace
        }
                          </div>
                          <div class="item">
                            <b>Hotel Name: </b>${obj.hotelName}
                          </div>
                          ${address}
                      </div>
                      </div>
                    </div>
                    <div class="extra content">
                      <span class="label fluid  time ">${date.format(
                        "lll"
                      )}</span>
                      <div class="right floated time ">${date.fromNow()}</div>
                      <div class="buttons">
                     ${buttons}
                      </div>
                    </div>`;
        container.appendChild(div);
      }
    }

    function handleContainerWrapper() {
      const recordcontainer = document.getElementById("recordcontainer");
      recordcontainer.innerHTML = "";
      recordcontainer.className = "ui segment green";
      let div1 = document.createElement("div");
      div1.className = "ui label top attached";
      div1.id = "ribbon";
      recordcontainer.appendChild(div1);
      div1.innerHTML = "click above";
      const div2 = document.createElement("div");
      div2.className = "ui cards";
      div2.id = "record-container";
      recordcontainer.appendChild(div2);
    }

    document.getElementById("fetch-approved-btn").onclick = () => {
      handleContainerWrapper();
      document.getElementById("ribbon").innerHTML = "Approved";
      const errorWrapper = document.getElementById("fetch-error");
      const defaultApp = getApp();
      const db = getDatabase(defaultApp);
      const dbRef = ref(db, `/3GPPTSG101/approved`);
      get(dbRef)
        .then((snapshot) => {
          if (snapshot.exists()) {
            errorWrapper.classList.add("display-none");
            // console.log("pppppp",snapshot.val());
            const val = snapshot.val();
            showCards(val, "approved");
          } else {
            // console.log("No data available");
            document.getElementById("record-container").innerHTML =
              "No Entries";
          }
        })
        .catch((error) => {
          console.error(error);
          errorWrapper.classList.remove("display-none");
          document.getElementById("fetch-error-msg").innerHTML = error;
        });
    };

    document.getElementById("fetch-incomplete-btn").onclick = () => {
      handleContainerWrapper();
      document.getElementById("recordcontainer").className = "ui segment red";
      document.getElementById("ribbon").innerHTML = "Incomplete";
      const errorWrapper = document.getElementById("fetch-error");
      const defaultApp = getApp();
      const db = getDatabase(defaultApp);
      const dbRef = ref(db, `/3GPPTSG101/incomplete`);
      get(dbRef)
        .then((snapshot) => {
          if (snapshot.exists()) {
            errorWrapper.classList.add("display-none");
            // console.log("pppppp",snapshot.val());
            const val = snapshot.val();
            // console.log("calling showcards")
            showCards(val, "incomplete");
          } else {
            // console.log("No data available");
            document.getElementById("record-container").innerHTML =
              "No Entries";
          }
        })
        .catch((error) => {
          console.error(error);
          errorWrapper.classList.remove("display-none");
          document.getElementById("fetch-error-msg").innerHTML = error;
        });
    };

    document.getElementById("fetch-btn").onclick = () => {
      handleContainerWrapper();
      document.getElementById("recordcontainer").className = "ui segment blue";
      document.getElementById("ribbon").innerHTML = "Submitted";
      const errorWrapper = document.getElementById("fetch-error");
      const defaultApp = getApp();
      const db = getDatabase(defaultApp);
      const dbRef = ref(db, `/forms`);
      get(dbRef)
        .then((snapshot) => {
          if (snapshot.exists()) {
            errorWrapper.classList.add("display-none");
            // console.log("pppppp",snapshot.val());
            const val = snapshot.val();
            // console.log("calling showcards")
            showCards(val);
          } else {
            // console.log("No data available");
            document.getElementById("record-container").innerHTML =
              "No Entries";
          }
        })
        .catch((error) => {
          console.error(error);
          errorWrapper.classList.remove("display-none");
          document.getElementById("fetch-error-msg").innerHTML = error;
        });
    };

    // card actions handler
    document.addEventListener("click", function (e) {
      const approveTarget = e.target.closest("#approve");
      const incompleteTarget = e.target.closest("#incomplete");
      const spamTarget = e.target.closest("#spam");
      const pageTarget = e.target.closest("#page");
      if (approveTarget || spamTarget || incompleteTarget) {
        const target = approveTarget || spamTarget || incompleteTarget;
        const defaultApp = getApp();
        const db = getDatabase(defaultApp);
        const key = target.getAttribute("data-id");
        const dbRef = ref(db, `/forms/${key}`);

        let url;
        if (incompleteTarget) url = "incomplete";
        if (approveTarget) url = "approved";
        if (spamTarget) url = "spam";

        const countDBRef = ref(db, `/3GPPTSG101/stats/${url}`);
        let countValue = 0;
        get(countDBRef).then((snapshot) => {
          countValue = snapshot.val() + 1;
        });
        get(dbRef)
          .then(async (snapshot) => {
            if (snapshot.exists()) {
              const targetDBRef = ref(db, `/3GPPTSG101/${url}/${key}`);
              var srcdata = snapshot.val();
              (srcdata.actionDate = serverTimestamp()),
                set(targetDBRef, srcdata)
                  .then((val) => {
                    remove(dbRef).then(async () => {
                      set(countDBRef, countValue);
                    });
                    const element = document.getElementById(key);
                    element.remove();
                  })
                  .catch((err) => {
                    // console.log("write error", err);
                  });
              // }
            } else {
              // console.log("No data available");
            }
          })
          .catch((error) => {
            console.error(error);
          });
      }

      // pagination
      if (pageTarget) {
        e.preventDefault();
        const page = pageTarget.getAttribute("data-id");
        if (page == 1) window.currentPage = 0;
        showRecords(page);
      }
    });

    document.getElementById("fetch-approved-list-btn").onclick = async () => {
      const defaultApp = getApp();
      const db = getDatabase(defaultApp);
      const targetDBRef = ref(db, `/3GPPTSG101/approved`);
      const countDBRef = ref(db, `/3GPPTSG101/stats/approved`);
      get(countDBRef).then((snapshot) => {
        window.totalRecordsCount = snapshot.val();
      });

      get(targetDBRef).then((snapshot) => {
        const records = snapshot.val();
        window.records = records;
        window.currentPage = 0;
        const container = document.getElementById("recordcontainer");
        container.className = "ui";
        container.innerHTML = "";
        const tbl = document.createElement("table");
        tbl.className = "ui fixed celled small table";
        container.appendChild(tbl);
        const tblBody = document.createElement("tbody");
        tblBody.id = "tbody";
        const tblHead = document.createElement("thead");
        const tblFoot = document.createElement("tfoot");
        tblHead.innerHTML = `<tr>
                            <th>Name</th>
                            <th>Date of birth</th>
                            <th>Place of birth</th>
                            <th>Nationality</th>
                            <th>Organization Detail</th>
                            <th>Passport number</th>
                            <th>Place of Issue</th>
                            <th>Date of Issue</th>
                            <th>Date of Expiry</th>
                          </tr>`;

        tblFoot.innerHTML = `<tfoot>
                              <tr><th colspan="9">
                                <div class="ui small right floated pagination menu">
                                  ${Array.from(
                                    Array(
                                      Math.ceil(
                                        window.totalRecordsCount / LIMIT
                                      )
                                    ).keys()
                                  ).map(
                                    (i) =>
                                      `<a id="page" data-id=${
                                        i + 1
                                      } class="item">
                                      ${i + 1}
                                    </a>`
                                  )}  
                                </div>
                              </th>
                            </tr></tfoot>`;

        tbl.appendChild(tblHead);
        tbl.appendChild(tblBody);
        tbl.appendChild(tblFoot);
        showRecords(1);
      });
    };

    function showRecords(page) {
      const tblBody = document.getElementById("tbody");
      tblBody.innerHTML = "";
      const records = window.records;
      const prevPage = window.currentPage;
      window.currentPage = page;
      const nextPage = page;
      window.count = 0;

      if (records) {
        for (let doc in records) {
          window.count = window.count + 1;
          if (
            window.count > prevPage * LIMIT &&
            window.count <= nextPage * LIMIT
          ) {
            const obj = records[doc];
            let tr = document.createElement("tr");
            tr.innerHTML = `
                            <tr>
                              <td>${
                                obj.title +
                                " " +
                                obj.firstName +
                                " " +
                                obj.lastName
                              }</td>
                              <td>${obj.dob}</td>
                              <td>${obj.birthPlace ? obj.birthPlace : ""}</td>
                              <td>${obj.nationality}</td>
                              <td>${obj.representingName}</td>
                              <td>${obj.passportNumber}</td>
                              <td>${obj.passportIssuePlace}</td>
                              <td>${obj.passportIssueDate}</td>
                              <td>${obj.passportValidityDate}</td>
                              </tr>`;
            tblBody.appendChild(tr);
          }
        }
      }
    }
  </script>
</html>
